name = "redirect-servicee"
compatibility_date = "2024-03-01"
compatibility_flags = ["nodejs_compat"]

[env.production]
pages_build_output_dir = ""

[build]
command = "echo 'No build needed'"

[[build.upload]]
type = "file"
glob = "**/*.html"
